{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}


        {{ form_start(form) }}       
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        

<div {{ stimulus_controller('form-collection') }}
    data-form-collection-index-value="{{ form.phones|length > 0 ? form.phones|last.vars.name + 1 : 0 }}"
    data-form-collection-prototype-value="{{ form_widget(form.phones.vars.prototype)|e('html_attr') }}"
>
 
 <label for="contact_form_phones" class="form-label required">Phone numbers</label>
    <ul class="phones" {{ stimulus_target('form-collection', 'collectionContainer') }}>
            {% for phone in form.phones %}
            <li>{{ form_row(phone) }}</li>
        {% endfor %}
    </ul>
    <button class="btn btn-primary" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}><i class="bi bi-plus-circle"></i> Add another</button>
</div>
        {{ form_row(form.birthday) }} 
    
      {{ form_end(form) }}  
      