{% extends 'base.html.twig' %}

{% block title %}All contacts{% endblock %}

{% block body %}

<div 
  class="container-fluid mt-4"
  {{ stimulus_controller('reload-content', {
    url: path('app_contact', { ajax:1 })
  }) }}
  data-action="modal-form:success->reload-content#refreshContent"
>
<h1 class="text-body-emphasis">Contact book</h1>

<div class="d-flex align-items-center mb-3">
  <div class="p-2"><input type="checkbox" id="select_all_contacts"> Select all</div>
    <button id="deleteButton" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
    Delete Selected
  </button>
  <div class="p-2">

  </div>
  <div class="ms-auto p-2">


    <div {{ stimulus_controller('modal-form', {
        formUrl: path('app_contact_create')
    }) }}>
        <button
            data-action="modal-form#openModal"
            class="btn btn-primary btn-sm"
        >New contact</button>
    {{ include('_modal.html.twig', {
        modalTitle: 'Add a new contact'
    }) }}
    </div>

    {# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal">
    New contact
    </button> #}
  </div>
</div>

<div data-reload-content-target="content">
  {{ include('contact/_list.html.twig')}}
</div>

</div>
<!-- Modal -->
{# <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="formModalLabel">New contact</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
      {{ form_errors(form) }}

        {{ form_start(form) }}       
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        
<ul class="phones"
    data-index="{{ form.phones|length > 0 ? form.phones|last.vars.name + 1 : 0 }}"
    data-prototype="{{ form_widget(form.phones.vars.prototype)|e('html_attr') }}"
>
</ul>
{{ form_errors(form.phones) }}

        {{ form_row(form.birthday) }} 

      {{ form_end(form) }}  
      
      </div>
    </div>
  </div>
</div>
 #}



<!-- Delete Confirmation Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the selected contacts? This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}


{% block bottom_javascripts %}
    {{ parent() }}
    
{% endblock %}